<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="menu-button">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>About Shopum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  

  <ion-card>
    <ion-card-content class="ion-text-center">
        <div class="logo">
            <h1>Shopum </h1>
            <ion-icon src="../../assets/cart.svg" class="cart"></ion-icon>
          </div>
      <!-- <ion-item lines="none" class="ion-text-center ion-padding-top"> -->
        Hi there! Nice to meet you. I'm Shah Al-Hafiz, a final year student from
        Faculty of Computer Science and Information Technology.  
    
        <br><br> Shopum is my final year project which strives to prepare a convenient, simple and
        specially catered for students of University of Malaya.
    
        <br><br>I would love to hear your thoughts about this app. Cheers!!!
      <!-- </ion-item> -->
    </ion-card-content>
  </ion-card>
  <!-- <ion-button class="ion-float-right" routerDirection="forward" routerLink="/feedback" >feedback</ion-button> -->
</ion-content>
