ion-menu {
  --ion-background-color: var(--ion-color-primary-tint);

  ion-content{
    --background: var(--ion-color-primary-tint);
  }

  ion-list{
    height:  90%;
  }
}

ion-header{
  ion-toolbar{
      --background: var(--ion-color-primary-tint);
  }
}

ion-item{
  color: white;
  margin: 10px 10px 10px 0px;
}

ion-menu-toggle:nth-child(5){
  position: absolute;
  bottom: 0;
}