<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="menu-button">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- <ion-buttons slot="primary" routerLink="/add"  routerDirection="forward"> -->
    <ion-buttons slot="primary" (click)="add()">
      <ion-button>
          <ion-icon ios="ios-add" md="md-add" ></ion-icon >
      </ion-button>
    </ion-buttons>
    <ion-title>My Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of items" size="6">
        <ion-card style="margin: 0; height: 270px;" routerLink="/show/{{item.doc.id}}" routerDirection="forward">
          <div class="container">
            <img src="{{item.url}}" alt="">
          </div>
          <ion-card-header>
            <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
            <ion-card-title>{{item.price | currency : 'RM '}}</ion-card-title>
            <span style="position: relative; bottom: 0;">
              <ion-icon ios="ios-time" md="md-time" style="position: relative; top: 2px;"></ion-icon>
              {{item.timestamp | dayDiff}}
            </span>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>